/*Project Styling*/

/* .project-container{
position: absolute;
display: flex;
justify-content: flex-start;
align-items: flex-start;
height: 50%;
width: 100%;
overflow-x: scroll;
overflow-y: hidden;
margin-top: 15px;
user-select: none;
}
.proj-ect:hover{
    font-size: 50px;
    transition: 2s ease-in-out;
    cursor: pointer;
}

.proj-ect h1 p:hover{
    font-size: 50px;
    transition: 2s ease-in-out;
    cursor: pointer;
}


.proj-ect {
    padding-top: 200px;
    padding-left: 20px;
    
}

/* The card styling where the project description is*/
/* .project-container .project{
    position: relative;
    height: 500px;
    min-width: 50%;
    background: rgb(178, 150, 150);
    border-radius: 50px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.project-container .project:hover{
    background-color: black;
    cursor: pointer;

}

/* .project-container .project .content{
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;

} */

/* .project-container .project h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    
}

.project-container strong{
    color: rgb(76, 35, 35);
    cursor: pointer;
    font-size: 18px;
}


.project p{
    font-size: 20px;
    padding-left: 25px;
}  */

.project {
  padding: 100px;
  top: 200px;
  position: relative;
  display: flex;
  background-color: rgb(189, 76, 182);
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding: 50px;
  margin-top: -118px;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 510px;
  border: 2px solid red;
 
}

/* The shadow over the image*/
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
