/*Styling for button*/

.button-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 60%;
    padding: 0;

}

.button-container .btn{
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-pri);
    transform: 0.2s ease;
    overflow: hidden;
    color: rgb(213, 137, 137);
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

 .button-container .btn .pri{
    border: 2px solid red;
    background-color: blue;
}

/* .button-container .btn.pri::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    transition: 0.2s ease;

}

.button-container .btn.pri::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    transition: 0.4s ease;

}

.button-container .btn.pri:hover::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 65%;
    left: 0;
    background-color: gray;
}

.button-container .btn.pri:hover::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 65%;
    left: 0;
    background-color: rgb(241, 234, 234);
} */

/* .button-container .btn.sec{
    background-color: var(--color-pri-ligth);
}

.button-container .btn.sec:hover{
    border: 2px solid var(--color-pri);
    background-color: transparent;
}

.button-container .btn.sec::before{
    position:absolute;
    content: '';
    height: 100%;
    width: 65%;
    left: 0;
    /* background-color: rgb(232, 209, 231); */
    /* transition: 0.2s ease;
}

.button-container .btn.sec::after{
    position:absolute;
    content: '';
    height: 100%;
    width: 50%;
    left: 0;
    background-color: rgb(233, 227, 227);
    transform: 0.4s ease;
} */


/* .button-container .btn.sec:hover::before{
    position:absolute;
    content: '';
    height: 100%;
    width: 0;
    left: 0;
}

.button-container .btn.sec:hover::after{
    position:absolute;
    content: '';
    height: 100%;
    width: 0;
    left: 0;
} */  