/*Styling for button*/
/*Creating the styling to the button and container*/
.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 60%;
  padding: 0px;
  
}

.button-container .btn {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(182, 40, 94);
  text-shadow: 2px 2px 4px #ad7575;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  background-color: rgb(213, 190, 210);
  border-radius: 20px;
  height: 100px;
  width: 200px;
  text-align: center;

}
 .button-container .btn:hover {
 background-color: transparent;
 color: purple;
 transform: 0.4s ease;
 border: 2px solid black;
 border-width: 2px;
}  

