/*Styling for button*/
/*Creating the styling to the button and container*/
.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 60%;
  padding: 0px;
}

.button-container .btn {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(244, 228, 234);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  background-color: rgb(160, 91, 168);
  border-radius: 20px;
  height: 100px;
  width: 400px;
  text-align: center;
}
.button-container .btn:hover {
  background-color: white;
  color: rgb(17, 1, 17);
  transform: 0.4s ease;
  border: 10px solid rgb(223, 134, 227);
  border-width: 2px;
}
