/*Styling about session*/
.about-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    overflow-x: hidden;
    backdrop-filter: blur(20px);
    
}