/*Styling the HTML*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  z-index: 1;
}


body {
  background-color: rgb(14, 12, 12);
  min-height: 100vh;
  font-family: sans-serif;
  animation: move 1s linear infinite forwards;
}

html{
 scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
  width: 0;
}

:root{
--color-pri: rgb(60, 182, 62);
--color-pri-light: rgb(113, 135, 147);
--color-sec: rgb(162, 162, 11);

--pc-width:75%;
--tab-width:90%;
--phone-width:100%;
}

body::before {
  content: '';
  position:fixed;
  height: 200px;
  width: 200px;
  background:rgb(209, 70, 70);
  filter: blur(200px);
}


body::after{
  content: '';
  position:fixed;
  top: 200px;
  left: 250px;
  height: 200px;
  width: 200px;
  background:rgb(161, 64, 80) (25, 92, 150);
  filter: blur(140px);
}

.bg-circle1{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: lightblue;
  filter: blur(140px);
}

.bg-circle2{
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
}

.container{
  width: var(--pc-width);
  color: var(--text-pri);
  padding: 10px 40px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Query Media*/

@media (max-width: 500px){
  .container{
    width: var(--phone-widht);
  }
}

