/*Styling the HTML*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  z-index: 1;
}


body {
  background-color: rgb(17, 93, 103);
  min-height: 100vh;
  font-family: sans-serif;
  animation: move 1s linear infinite forwards;
}

body:hover{
  cursor: pointer;
  background-color: black;
}
html{
 scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
  width: 0;
}

:root{
/* --color-pri: rgb(235, 181, 181);
--color-pri-light: rgb(233, 223, 230);
--color-sec: rgb(162, 162, 11); */

--pc-width:75%;
--tab-width:90%;
--phone-width:100%;
}

body::before {
  content: '';
  position:absolute;
  height: 300px;
  width: 500px;
  background:rgb(14, 112, 3);
  filter: blur(200px);
}


body::after{
  content: '';
  position:absolute;
  top: 200px;
  left: 250px;
  height: 300px;
  width: 500px;
  background:rgb(224, 130, 146) (25, 92, 150);
  filter: blur(250px);
}

.bg-circle1{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: rgb(102, 7, 28);
  filter: blur(250px);
}

.bg-circle2{
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
}

.container{
  width: var(--pc-width);
  color: var(--text-pri);
  padding: 10px 40px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Query Media*/

@media (max-width: 500px){
  .container{
    width: var(--phone-widht);
  }
}

