/* styling for the navbar*/

.navigation {
  position: absolute;
  left: 8%;
  top: -140px;
  transform: translate(-100%, -50%);
  background-color: rgb(80, 75, 224);
  padding: 5px;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  border-radius: 25px;
  opacity: 1;
  animation: fade-nav-in 1s ease 1 1s forwards;
}

@keyframes fade-nav-in {
  to {
    transform: translate(0%, 50%);
  }
}

.navigation a {
  position: relative;
  background-color: greenyellow;
  border-radius: 20px;
  height: 100px;
  justify-content: space-between;
}

.icon {
  font-size: 70px;
  border-radius: 20px;
  padding: 10px;
  transition: fill 0.1s ease;
  fill: black;
  height: 100px;
}

.navigation a .icon.active-nav {
  fill: red;
  border: 2px solid rgb(10, 10, 10);
}

.icon-text {
  color: white;
}
/* .navigation .icon:hover {
  fill: rgb(55, 23, 135);
  border: 2px solid black;
} */

/* .navigation .icon.active-nav:hover {
  fill: rgb(20, 11, 102);
  border: 2px solid black;
} */
